@model IEnumerable<WordHeaven_Web.Data.Entity.Reservation>
@{
    ViewData["Title"] = "Index";
}

<center><h1 style="color:black">Manage Reservations</h1></center>
<br />
<br />
@if (this.User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary" style="background-color:cadetblue;font-size: 20px; color: whitesmoke; border-color:cadetblue">Create New</a>
    </p>
}

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="GetStatistics" class="btn btn-light" style="font-size: 20px; color: midnightblue">Report</a>
    </p>
}
<br />

<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employee")))
            {
                <th>
                    Employee
                </th>
                <th>
                    Client
                </th>

                <th>
                    Book
                </th>

                <th>
                    Book Cover
                </th>
                <th>
                    Loaned
                </th>
                <th>
                    Returned
                </th>

                <th>
                    Store
                </th>

                <th>
                    Is Booked?
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employee")))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.user.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BookName.Title)
                    </td>
                    <td>
                        @if (item.BookCover > 0)
                        {
                            var base64 = Convert.ToBase64String(item.BookName.BookCover);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            ViewData["Image"] = imgSrc;
                            <img src="@ViewData["Image"]" alt="Image" style="width:65px;height:65px;max-width:100%;height:auto">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanedBook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookReturned)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.IsBooked)
                    </td>

                    <td>
                        @if (item.LoanTimeLimit < item.BookReturned)
                        {
                            <input type="hidden" asp-for="@item.Id">
                            <a id="sendWarningEmailLink" asp-action="SendWarningEmail" asp-route-id="@item.Id" style="display: none;"></a>
                            <a asp-action="ModifyReservation" asp-route-id="@item.Id" class="btn btn-warning status-button" style="background-color: whitesmoke; color: grey;">Check Status</a>

                            <script>
                                $(document).ready(function () {
                                    var sendWarningEmailLink = $("#sendWarningEmailLink");
                                    sendWarningEmailLink.trigger('click');
                                });
                            </script>
                        }

                        else if(item.BookReturnedByClient == true || item.PayedTaxesLoan == true)
                        {
                            <a href="#" class="btn btn-success">Done</a>
                        }

                        else
                        {
                            <input type="hidden" asp-for="@item.Id">
                            <a asp-action="ModifyReservation" asp-route-id="@item.Id" class="btn btn-primary manage-button" style="background-color: whitesmoke; color: grey;">Manage</a>
                        }
                    </td>
                }
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        <a asp-action="SaveReservation" asp-route-id="@item.Id" class="btn btn-secondary save-button" style="background-color: whitesmoke; color: grey;">Save</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>

    var saveButton = document.querySelectorAll(".save-button");
    var manageButton = document.querySelectorAll(".manage-button");

    function changeColor(element, color) {
        element.style.backgroundColor = color;
    }

    saveButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "lightblue");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

    manageButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "lightblue");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

</script>