@model WordHeaven_Web.Data.Entity.Store

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<center><h2 style="color:indianred;">Delete Store @Html.DisplayFor(model => model.Name)</h2></center>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="main-profile ">
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/assets/images/StoreIcon.jpg" alt="" style="border-radius: 23px;">
                </div>
                <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                        <dl class="row" style="color:cadetblue">
                            <dt class="col-sm-5 col-md-6">
                                @Html.DisplayNameFor(model => model.Address):
                            </dt>
                            <dd class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt class="col-sm-5 col-md-6">
                                @Html.DisplayNameFor(model => model.Location):
                            </dt>
                            <dd class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                                @Html.DisplayFor(model => model.Location)
                            </dd>
                            <dt class="col-sm-5 col-md-6">
                                @Html.DisplayNameFor(model => model.PostalCode):
                            </dt>
                            <dd class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                                @Html.DisplayFor(model => model.PostalCode)
                            </dd>
                            <dt class="col-sm-5 col-md-6">
                                @Html.DisplayNameFor(model => model.Phone):
                            </dt>
                            <dd class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <dt class="col-sm-5 col-md-6">
                                @Html.DisplayNameFor(model => model.Email):
                            </dt>
                            <dd class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>
                        <br />
                        <br />
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" value="Delete" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                            <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>