@model List<WordHeaven_Web.Data.Entity.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Books Catalog</h1></center>
<p>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("employee"))
    {
        <a asp-action="Create" type="submit" class="btn btn-primary" style="background-color:cadetblue;font:bold;border-color:cadetblue;">
            <i class="fa fa-add" style="color:whitesmoke;"></i>  Add New Book
        </a>
    }
</p>
<br />
@if (Model == null)
{
    <div class="question-summary">
        <p>No books found</p>
    </div>
}
else
{
    <table class="table align-middle table-secondary border-danger-subtle">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Year</th>
                <th>Abstract</th>
                <th>Language</th>
                <th>Category</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.BookCover.Length > 0)
                        {
                            var base64 = Convert.ToBase64String(item.BookCover);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            ViewData["Image"] = imgSrc;
                            <img src="@ViewData["Image"]" alt="Image" style="width:65px;height:65px;max-width:100%;height:auto">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfPublication)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abstract)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("employee"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary edit-button" id="edit" style="background-color: whitesmoke; color: grey;">Edit |</a>
                            <a asp-action = "Details" asp-route-id = "@item.Id" class="btn btn-secondary details-button" id="details" style="background-color: whitesmoke; color: grey;">Details |</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" id="delete" class="btn btn-secondary delete-button" style="background-color: whitesmoke; color: grey;">Delete </a>
                        }
                        else
                        {
                            <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Details</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
            </li>
        </ul>

        <script>

            var editButton = document.querySelectorAll(".edit-button");
            var detailsButton = document.querySelectorAll(".details-button");
            var deleteButton = document.querySelectorAll(".delete-button");

            function changeColor(element, color) {
                element.style.backgroundColor = color;
            }

            editButton.forEach(function (element) {
                element.addEventListener("mouseover", function () {
                    changeColor(element, "lightgoldenyellow");
                });

                element.addEventListener("mouseout", function () {
                    changeColor(element, "whitesmoke");
                });
            });

            detailsButton.forEach(function (element) {
                element.addEventListener("mouseover", function () {
                    changeColor(element, "lightblue");
                });

                element.addEventListener("mouseout", function () {
                    changeColor(element, "whitesmoke");
                });
            });

            deleteButton.forEach(function (element) {
                element.addEventListener("mouseover", function () {
                    changeColor(element, "indianred");
                });

                element.addEventListener("mouseout", function () {
                    changeColor(element, "whitesmoke");
                });
            });

        </script>
    </nav>
}